FLYERT_COOKIE=
FLYERT_CHECKIN_URL=
FLYERT_CHECKIN_METHOD=
FLYERT_CHECKIN_BODY=
FLYERT_CHECKIN_CONTENT_TYPE=
FLYERT_SUCCESS_KEYWORDS=
FLYERT_ALREADY_KEYWORDS=
FLYERT_EXTRA_HEADERS=
FLYERT_REFERER=
FLYERT_USER_AGENT=
FLYERT_BASE_URL=https://flyert.com.cn
FLYERT_SKIP_HOME_CHECK=
